node_modules/
.DS_Store
package-lock.json
coverage
.nyc_output
.cache
dist
lib
.vscode/
.idea/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tmp

src/static/*
!src/static/.gitkeep
!src/static/example_favicon.ico

config.json
config.js