.ngw-control-layers-expanded.ngw-control-attribution span, .ngw-control-layers-expanded.ngw-control-attribution span {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
}

.ngw-control-layers-expanded.ngw-control-attribution span, .ngw-control-layers-expanded.ngw-control-attribution span a {
    display: inline-block;
    white-space: nowrap;
}